@keyframes crawling-text {
  0% {
    transform: translateX(100%);
    transform-origin: left center;
  }
  100% {
    transform: translateX(-100%);
    transform-origin: right center;
  }
}

@keyframes neon-pulse {
  0% {
    box-shadow: 0 0 7px 2px rgba(80, 0, 250, 0.7),
      0 0 10px 4px rgba(80, 0, 250, 0.4), 0 0 17px 7px rgba(80, 0, 250, 0.1);
  }
  100% {
    box-shadow: 0 0 10px 3px rgba(80, 0, 250, 0.8),
      0 0 17px 7px rgba(80, 0, 250, 0.5), 0 0 23px 10px rgba(80, 0, 250, 0.2);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 18ch;
  }
}
