// === Comfortaa ===
/* @font-face {
  font-family: "Comfortaa";
  font-weight: 400;
  font-style: normal;
  src: local("Comfortaa-Regular"), local("Comfortaa Regular"),
    url("../fonts/comfortaa-regular.woff2") format("woff2"),
    url("../fonts/comfortaa-regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Comfortaa";
  font-weight: 600;
  font-style: normal;
  src: local("Comfortaa-SemiBold"), local("Comfortaa SemiBold"),
    url("../fonts/comfortaa-semibold.woff2") format("woff2"),
    url("../fonts/comfortaa-semibold.woff") format("woff");
  font-display: swap;
}
 */
