:root {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 3px solid $white-color;
  background-color: $border-color;
  transition: all 0.5s linear;

  &:active {
    background-color: $text-color;
  }
}
*::-webkit-scrollbar-track {
  border-radius: 16px;
  background-color: $white-color;
}

button {
  cursor: pointer;
  border: none;
  line-height: 1;
}

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  min-width: 320px;
  font-size: 16px;
  line-height: auto;
  color: $text-color;
}

.container {
  margin: 0 auto;
  max-width: 1200px;

  /*   @media (max-width: 1230px) {
    padding: 0 4%;
  }
  @media (max-width: $tablet-width) {
    padding: 0 8.445%;
  }
  @media (max-width: $mobile-large-width) {
    padding: 0 2.13%;
  }
  @media (max-width: 414px) {
    padding: 0 10px;
  } */
}

.main {
  // overflow-x: clip;
}

// -|* Visually Hidden *|-
// .visually-hidden {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;
//   white-space: nowrap;
//   clip-path: inset(100%);
//   clip: rect(0 0 0 0);
//   overflow: hidden;
// }
