:root {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 3px solid $white-color;
  background-color: $border-color;
  transition: all $regular-transition linear;

  &:active {
    background-color: $text-color;
  }
}
*::-webkit-scrollbar-track {
  border-radius: 16px;
  background-color: $white-color;
}

body {
  position: relative;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  min-width: 320px;
  font-size: 16px;
  color: $text-color;
}

input,
textarea {
  caret-color: rgba(80, 0, 250);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* 1. Reset the text color to your desired color */
  // @include main-font-bold;

  -webkit-text-fill-color: rgba(80, 0, 250, 0.93);

  /* 2. Reset the background color using box-shadow (The Trick!) */
  /* The color must match your desired background color (e.g., white or transparent) */
  /* The shadow dimensions (0 0 0 1000px) ensure the shadow covers the entire input field */
  // box-shadow: 0 0 0 1000px white inset !important;

  /* 3. Transition fix (optional but recommended for consistency) */
  transition: background-color 5000s ease-in-out 0s;

  /* 4. Reset other styles if necessary */
  /* background-image: none !important; */
}

.container {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;

  /*   @media (max-width: 1230px) {
    padding: 0 4%;
  }
  @media (max-width: $tablet-width) {
    padding: 0 8.445%;
  }
  @media (max-width: $mobile-large-width) {
    padding: 0 2.13%;
  }
  @media (max-width: 414px) {
    padding: 0 10px;
  } */
}

// ==| WHITESPACE |==
.games,
.call-to-action,
.in-the-box,
.promo-banner,
.subscribe {
  padding-top: 50px;
  padding-bottom: 50px;
}
// ==| / WHITESPACE |==

.title {
  font-weight: 400;
  text-transform: uppercase;
}

.gradient-colors-title {
  @include bg-purple-gradient;
  @include text-color-gradient;
  text-transform: uppercase;
  font-size: 36px;
}

// -|* Visually Hidden *|-
// .visually-hidden {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;
//   white-space: nowrap;
//   clip-path: inset(100%);
//   clip: rect(0 0 0 0);
//   overflow: hidden;
// }
