// ==| MIXINS |==
@mixin main-font-bold {
  font-family: "Helvetica-Bold", sans-serif;
  font-weight: 700;
}
@mixin decor-font-bold {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}

@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inline-bg-image {
  background-color: $images-bg-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@mixin bg-purple-gradient($angle: 180deg, $purple-depth: 100%) {
  background: linear-gradient(
    $angle,
    #bc10d8 0%,
    rgba(80, 0, 250, 0.93) $purple-depth
  );
}

@mixin border-color-gradient {
  border: 1px solid transparent;
  border-image: linear-gradient(180deg, $purple-gradient-colors) 1;
}

@mixin text-color-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
}
