// COLORS
/* $dark-color: #333;
$btn-text-color: #272727;
$accent-color: #7b6152;
$bright-accent-color: #ffbd59;
$beige-color: #fafafa;
$light-taupe: #bea495; */
// -| backgrounds |-
/* $alt-bg-color: #a5978e;
$main-bg-color: #fff8f3; */
// END COLORS
// ==| VIEWPORTS |==
/* $desktop-width: 1440px;
$laptop-width: 1000px;
$tablet-width: 768px;
$mobile-large-width: 480px;
$mobile-small-width: 360px; */
// ==| / VIEWPORTS |==
// ==| TRANSITIONS |==
/* $slow-transition: 0.7s;
$regular-transition: 0.5s;
$fast-transition: 0.3s; */
// ==| / TRANSITIONS |==
// ==| FONTS |==
/* @mixin main-font-400 {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
}
@mixin main-font-600 {
  font-family: "Comfortaa", cursive;
  font-weight: 600;
}

@mixin title-font-400 {
  font-family: "Yeseva One", cursive;
  font-weight: 400;
} */
// ==| / FONTS |==
