// COLORS
$white-color: #f6f4f5;
$border-color: #cacad6;
$text-color: #5c5c5e;
$title-color: #070707;
// -| backgrounds |-
// END COLORS
// ==| VIEWPORTS |==
/* $desktop-width: 1440px;
$laptop-width: 1000px;
$tablet-width: 768px;
$mobile-large-width: 480px;
$mobile-small-width: 360px; */
// ==| / VIEWPORTS |==
// ==| TRANSITIONS |==
$slow-transition: 0.7s;
$regular-transition: 0.5s;
// $fast-transition: 0.3s;
// ==| / TRANSITIONS |==
// ==| GRADIENTS |==
$purple-color-stops: #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%;
$purple-vertical-gradient: linear-gradient(
  180deg,
  #bc10d8 0%,
  rgba(80, 0, 250, 0.93) 100%
);
// ==| / GRADIENTS |==
// ==| MIXINS |==
@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
// ==| / MIXINS |==
