@import "reset"; // reset styles
@import "fonts"; // local fonts
@import "variables"; // variables
@import "mixins"; // mixins
@import "animations"; // animations
@import "global"; // global styles

// -| Restyling vendor libraries |-
@import "libs/swiper";
// @import "libs/hamburgers-settings";
// @import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers";

// -| Reusable blocks |-
@import "blocks/buy-button";
@import "blocks/tabs";
@import "blocks/card";

// -| Page blocks |-
@import "blocks/header";
@import "blocks/hero";
@import "blocks/features";
@import "blocks/games";
@import "blocks/call-to-action";
@import "blocks/in-the-box";
@import "blocks/promo-banner";
@import "blocks/accessories";
@import "blocks/footer";

// -| Sticky Footer |-
/* .wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
} */
