.buy-button {
  @include border-color-gradient;
  position: relative;
  overflow: hidden;
  display: flex;
  height: 62px;
  width: 598px;
  text-transform: uppercase;

  &::before {
    content: "";
    @include bg-purple-gradient;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: transform $slow-transition ease;
    transform: translateX(0);
  }

  &:hover::before {
    transform: translateX(100%);
  }
  &:hover .buy-button__button {
    color: $title-color;
  }
  &:hover .buy-button__price {
    color: $white-color;
  }

  &__button,
  &__price {
    @include flex-centered;
    z-index: 1;
    flex-basis: 50%;
    transition: color $regular-transition ease;
  }

  &__button {
    color: $white-color;
  }

  &__price {
    color: $title-color;
  }

  &__subtitle {
    margin-top: 10px;
    font-size: 13px;
  }
}
