.call-to-action {
  overflow-x: hidden;
  position: relative;
  text-align: center;

  &__decor-img {
    position: absolute;
    top: 59px;
    left: 50%;
    transform: translateX(-54%);
  }

  &__title {
    @include decor-font-bold;
    @include bg-purple-gradient(180deg);
    @include text-color-gradient;
    opacity: 0.1;
    font-size: 400px;
    line-height: 1;
    animation: crawling-text 8s linear 0s infinite;
  }

  &__buy-button {
    margin: -31px auto 0;
  }
}
