.card {
  @include border-color-gradient;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  min-height: 500px;
  transition: border-width $fast-transition;

  &.hovered {
    outline: 2px solid #5000fa;
  }

  &:hover &__cover-image::after {
    background-color: rgba(#000, 0);
  }

  &__cover-image {
    @include inline-bg-image;
    position: relative;
    margin: 0 auto 10px;
    width: 260px;
    height: 280px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#000, 0.1);
      transition: $slow-transition ease;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 24px;
    color: $title-color;
  }

  &__description {
    margin-bottom: 10px;
  }

  &__button {
    @include bg-purple-gradient(80%);
    @include text-color-gradient;
    margin-top: auto;
    width: fit-content;

    &:hover {
      font-weight: 700;
    }
  }
}
