.features {
  &__titles {
    margin-bottom: 20px;
    display: flex;
  }

  &__title {
    padding-top: 6px;
    padding-right: 20px;
    flex-basis: 300px;
  }

  &__text {
    @include bg-purple-gradient(180deg);
    @include text-color-gradient;
    flex-basis: 330px;
    text-transform: uppercase;
    font-size: 36px;
  }

  &__tabs {
  }
}
