.features {
  padding-top: 100px;
  padding-bottom: 50px;

  &__titles {
    margin-bottom: 20px;
    display: flex;
  }

  &__title {
    padding-top: 6px;
    padding-right: 20px;
    flex-basis: 300px;
  }

  &__text {
    flex-basis: 330px;
  }
}
