.footer {
  background-color: #fff;
}

.footer__inner {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: $dark-color;

  @media (max-width: 959px) {
    flex-wrap: wrap;
    gap: 15px 35px;
  }
  @media (max-width: 680px) {
    padding-top: 50px;
    padding-bottom: 43px;
    flex-direction: column;
    font-size: 14px;
  }
  @media (max-width: 414px) {
    padding-top: 35px;
    padding-bottom: 28px;
  }
}

.footer__menu-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  column-gap: 180px;

  @media (max-width: 1230px) {
    column-gap: 130px;
  }
  @media (max-width: 1080px) {
    column-gap: 60px;
  }
  @media (max-width: $laptop-width) {
    column-gap: 40px;
  }
  @media (max-width: 959px) {
    justify-content: space-between;
  }
  @media (max-width: 680px) {
    display: block;
    text-align: center;
  }
}

.footer__menu {
  @media (max-width: 680px) {
    padding-top: 47px;
    padding-bottom: 35px;
    text-align: center;
  }
}

.footer__menu-list {
  @media (max-width: 680px) {
    flex-direction: column;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
  color: $dark-color;

  @media (max-width: 959px) {
    width: 100%;
    text-align: center;
  }
}

.footer__phone {
  margin-bottom: 15px;
}

.footer__email {
  margin-bottom: 20px;
}

.footer__socials {
  display: flex;
  list-style: none;
  column-gap: 15px;

  @media (max-width: 959px) {
    justify-content: center;
  }
}
.footer__contacts > a,
.footer__socials-item {
  cursor: pointer;
  transition: color $fast-transition ease-in-out;
}
.footer__socials-item:hover,
.footer__socials-item:focus,
.footer__contacts > a:hover,
.footer__contacts > a:focus {
  color: $accent-color;
}
.footer__socials-item:active,
.footer__contacts > a:active {
  color: $bright-accent-color;
}