.header {
  border-bottom: 1px solid $border-color;
  background-color: $white-color;

  &__inner {
    padding: 19px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    text-transform: uppercase;
  }

  &__nav-link {
    & + & {
      margin-left: 20px;
    }
  }

  &__cart {
    @include flex-centered;
    position: relative;
    border: none;
    background: none;
    width: 24px;
    height: 24px;
    color: $text-color;

    svg {
      align-self: normal;
    }

    &.header__cart--filled .header__cart-count {
      visibility: visible;
      opacity: 1;
    }
  }

  &__cart-count {
    @include flex-centered;
    @include bg-purple-gradient;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: -8px;
    bottom: -9px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 12px;
    color: $white-color;
    transition: visibility $fast-transition, opacity $fast-transition;
  }
}
