.header {
  @media (max-width: 819px) {
    font-size: 12px;
  }
  @media (max-width: $tablet-width) {
    font-size: 10px;
  }
  @media (max-width: $mobile-large-width) {
    font-size: 14px;
  }
}

.header__menu {
  @media (max-width: 710px) {
    order: 1;
  }
}

.header__menu-list {
  @media (max-width: 710px) {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-150%);
    padding: 25px;
    flex-direction: column;
    text-align: center;
    gap: 30px 0;
    min-width: 170px;
    background-color: $accent-color;
    color: $main-bg-color;
    font-size: 16px;
    font-weight: 700;
    opacity: 0;
    transition: all $regular-transition ease;
  }
}

.header__menu-list.menu--open {
  @media (max-width: 710px) {
    z-index: 5;
    opacity: 1;
    transform: translateY(7%);
  }
}

.header__inner {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 819px) {
    padding-top: 0;
  }
}

.header__inner .phone {
  position: relative;
  padding-left: 23px;
  transition: all $fast-transition ease-in-out;

  &:active {
    color: $bright-accent-color;
  }

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url("../img/icons/phone.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform $fast-transition ease-in-out;

    @media (max-width: 819px) {
      width: 14px;
      height: 14px;
      top: -1px;
    }
    @media (max-width: 710px) {
      width: 25px;
      height: 25px;
      top: -5px;
    }
  }
  &:hover::before,
  &:focus::before {
    transform: scale(1.2);
  }

  @media (max-width: 819px) {
    padding-left: 18px;
  }
  @media (max-width: 710px) {
    margin-left: -28px;
    padding-left: 28px;
    font-size: 16px;
  }
}

.header__hamburger {
  display: none;

  @media (max-width: 710px) {
    display: inline-block;
  }
}

.menu__list {
  display: flex;
  gap: 20px;
}

.menu__list-item {
  text-transform: uppercase;
  transition: all $fast-transition ease-in-out;
}
.menu__list-item:active,
.menu__list-item:focus,
.menu__list-item:hover {
  color: $accent-color;
}

.menu--open .menu__list-item:active,
.menu--open .menu__list-item:focus,
.menu--open .menu__list-item:hover {
  color: $bright-accent-color;
}
