.header {
  border-bottom: 1px solid $border-color;
  background-color: $white-color;

  &__inner {
    padding: 19px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    text-transform: uppercase;
  }

  &__nav-link {
    & + & {
      margin-left: 20px;
    }
  }

  &__logo {
  }

  &__cart {
    @include flex-centered;
    border: none;
    background: none;
    width: 24px;
    height: 24px;
    color: $text-color;

    svg {
      align-self: normal;
    }
  }
}
