.hero {
  padding-top: 5%;
  height: calc(100vh - 81px);
  background: url("../img/bg-hero.jpg") no-repeat bottom center/cover;

  &__title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 96px;
  }

  &__subtitle {
    margin-bottom: 5px;
    font-size: 36px;
  }

  &__subsubtitle {
    margin-bottom: 50px;
    font-size: 13px;
  }
}
