.hero {
  padding-top: 5%;
  height: calc(100vh - 81px);
  background: url("../img/bg-hero.jpg") no-repeat bottom center/cover;

  &__title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 96px;
  }

  &__subtitle {
    margin-bottom: 5px;
    font-size: 36px;
  }

  &__subsubtitle {
    margin-bottom: 50px;
    font-size: 13px;
  }

  &__buy-button-group {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-image: $purple-vertical-gradient 1;
    display: flex;
    height: 62px;
    width: 598px;
    text-transform: uppercase;

    &::before {
      content: "";
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: $purple-vertical-gradient;
      transition: transform $slow-transition ease;
      transform: translateX(0);
    }

    &:hover::before {
      transform: translateX(100%);
    }
    &:hover .hero__buy-button {
      color: $title-color;
    }
    &:hover .hero__buy-button-price {
      color: $white-color;
    }
  }

  &__buy-button,
  &__buy-button-price {
    @include flex-centered;
    z-index: 5;
    flex-basis: 50%;
    transition: color $regular-transition ease;
  }

  &__buy-button {
    color: $white-color;
  }

  &__buy-button-price {
    color: $title-color;
  }

  &__button-subtitle {
    font-size: 13px;
  }
}
