.in-the-box {
  &__title {
    margin-bottom: 50px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 30px 20px;
  }

  &__content-title {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  &__content-title {
    @include bg-purple-gradient(180deg, 40%);
    @include text-color-gradient;
  }

  &__content-link {
    &:hover .in-the-box__content-image {
      @include border-color-gradient;
    }
  }

  &__content-link:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
  &__content-link:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  &__content-link:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  &__content-link:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }

  &__content-image {
    margin-bottom: 10px;
    border: 1px solid $border-color;
  }
}
