.modal {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(#000, 0.5);
  visibility: hidden;
  opacity: 0;
  display: flex;
  transition: opacity $regular-transition,
    visibility 0s linear $regular-transition;
}
.modal.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity $regular-transition, visibility 0s linear 0s;
}

.modal__inner {
  margin: 0 10px;
  border: 3px solid transparent;
  border-image: linear-gradient(180deg, $purple-gradient-colors) 1;
  padding: 36px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 250px;
  background-color: $white-color;
  font-size: 16px;
  text-align: center;

  @media (max-width: 524px) {
    width: 100%;
    height: auto;
    padding: 30px 30px 20px;
    font-size: 15px;
  }
}

.modal__text + .modal__text {
  margin-top: 10px;
}
.modal__text:last-of-type {
  margin-bottom: 30px;
}

.modal .button {
  @include main-font-bold;
  @include bg-purple-gradient;
  @include text-color-gradient;
}
