.promo-banner {
  &__inner {
    position: relative;
  }

  &__text,
  &__button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__text {
    overflow: hidden;
    width: 0;
    text-align: center;
    color: $white-color;
    text-shadow: 0px 4px 4px #bc10d8;

    &--top {
      top: 12%;
      animation: typing 2s steps(22) forwards;
    }
    &--bottom {
      top: 16%;
      animation: typing 1.9s 1.6s steps(24) forwards;
    }
  }

  &__image {
    height: 500px;
  }

  &__button {
    @include main-font-bold;
    bottom: 16%;
    border-radius: 50%;
    padding-top: 1px;
    width: 50px;
    height: 50px;
    background: linear-gradient(
      270deg,
      #bc10d8 0%,
      rgba(80, 0, 250, 0.93) 100%
    );
    line-height: 1;
    color: $white-color;
    text-transform: uppercase;
    overflow: visible;
    transition: all $fast-transition ease;
    box-shadow: 0 0 0 0 rgba(80, 0, 250, 0.7);

    &:hover {
      transform: translate(-50%, -3px) scale(1.3);
      box-shadow: 0 0 10px 3px rgba(80, 0, 250, 0.7),
        0 0 10px 4px rgba(80, 0, 250, 0.4), 0 0 17px 7px rgba(80, 0, 250, 0.1);
      animation: neon-pulse 1.5s infinite alternate;
    }
    &:active {
      transform: translate(-50%, -1px) scale(1.2);
      box-shadow: 0 0 5px 1px rgba(80, 0, 250, 0.6),
        0 0 8px 3px rgba(80, 0, 250, 0.3), 0 0 13px 5px rgba(80, 0, 250, 0.1);
    }
  }
}
